flask
torch
nltk
sympy
requests
python-dotenv
Pillow
replicate
pytz
numpy
PyPDF2
python-docx
pytesseract
Pillow
textblob
scikit-learn
gtts
tabula-py
pandas
sentence-transformers
openai
text2emotion
werkzeug
serpapi
pdf2image
