streamlit
flask
gtts
nltk
numpy
openai
pandas
pdf2image==1.16.3
Pillow
PyPDF2
python-docx
python-dotenv
pytesseract
pytz
replicate
requests
scikit-learn==1.7.0
sentence-transformers
google-search-results
sympy
tabula-py
text2emotion
textblob
torch
transformers
werkzeug==2.0.3
wikipedia
google-generativeai
accelerate
bitsandbytes
huggingface-hub[hf_xet]
hf_transfer
