streamlit
flask
gtts
nltk
numpy
openai
pandas
pdf2image==1.16.3
Pillow
PyPDF2
python-docx
python-dotenv
pytesseract
pytz
replicate
requests
scikit-learn
sentence-transformers
serpapi==0.1.5
sympy
tabula-py
text2emotion
textblob
torch
transformers
werkzeug==2.0.3
